<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>tarik_atelier4_ws</display-name>
  
  <servlet>
  <servlet-name>rs</servlet-name>
  <servlet-class>com.sun.jersey.spi.servlet.ServletContainer</servlet-class>
  <init-param>
  <param-name>com.json.jersey.config.property.packages</param-name>
  <param-value>src.main.java.service</param-value>
  </init-param>
  <init-param>
  <param-name>com.json.jersey.api.json.POJOMappingFeature </param-name>
  <param-value>true</param-value>
  </init-param>
  <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>rs</servlet-name>
  <url-pattern>/*</url-pattern>
  </servlet-mapping>
</web-app>